.scrumboard {
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #015958;
    padding: 10px;
    color: white;
}

nav p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.daily-box {
    height: 300px;
    width: 220px;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
}

.daily-box h3 {
    margin: 0;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid gray;
    height: 50px;
    width: 100%;
}
.weekly-box {
    height: 300px;
    width: 220px;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.weekly-box h3 {
    margin: 0;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid gray;
    height: 50px;
    width: 100%;
}

.add {
    margin-top: 1rem;
    width: 200px;
    border-radius: 50px;
}
#modal {
    position: absolute;
    width: 400px;
    background-color: #111;
    padding: 1rem;
    color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    box-shadow: 5px 5px 8px 0px #888888;
    z-index: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    cursor: pointer;
}

.modal-button {
    width: 100%;
}

.modal-field {
    width: 91%;
    margin-bottom: .5rem;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

.hidden {
    display: none;
}

.show {
    display: block;
}